mixin modal(props)
  - props = props || {}
  - mods = props.mods ? props.mods.map(mod => `modal--${mod}`).join(' ') : null;
  .modal(
    id=props.id
    class=mods
  )
    .modal__inner
      button.modal__close(type='button' data-fancybox-close='' aria-label='Закрыть')
        +icon('close')
      if props.title || props.description || props.caption
        .modal__text
          if props.title
            .modal__title=props.title
          if props.description
            .modal__description !{props.description}
          if props.caption
            .modal__caption !{props.caption}
      if block
        .modal__content
          block
      if props.button
        .modal__footer
          +button(props.button)&attributes({
            class: "modal__button",
            ...props.button.attributes
          })=props.button.text
