mixin intro(props)
  - props = props || {}
  section.page-section.intro
    if props.bg && props.bg.desktop
      picture
        if props.bg.mobile
          source(srcset=props.bg.mobile media="(max-width: 767px)")
        if props.bg.tablet
          source(srcset=props.bg.tablet media="(max-width: 991px)")
        img.intro__bg(src=props.bg.desktop alt="Пиксель Тулс" loading="lazy")
    .page-container
      .intro__content
        if props.items
          .intro__list.animation.animation--fade-in-left
            for item, i in props.items
              - tag = i === 0 ? "h1" : "div"
              #{tag}.intro__item !{item}
        +onboarding-form&attributes({class: "intro__form animation animation--fade-in"})
  link(href="./css/intro.css" rel="stylesheet")
