mixin menu(props)
  - props = props || {}
  - mods = props.mods ? props.mods.map(mod => `menu--${mod}`).join(" ") : null;
  .menu(class=mods)&attributes(attributes)
    +menu-items(props.items, 0)

mixin menu-items(items, level)
  .menu__items(data-lenis-prevent="")
    for item in items
      if item.items
        .menu__item
          a(
            class=(level >= 2 ? "menu__items-head" : null)
            href="#"
          )=item.name
          +icon("triangle")
          +menu-items(item.items, level + 1)
      else
        a.menu__item(href="#")=item.name
