mixin team-card(props)
  - props = props || {}
  - mods = props.mods ? props.mods.map(mod => `team-card--${mod}`).join(" ") : null;
  .team-card(
    class=mods
  )
    if props.image
      .team-card__image
        img(src=props.image alt=props.title loading="lazy")
    if props.title
      .team-card__title=props.title
    if props.label
      .team-card__label=props.label
