mixin section(props)
  - props = props || {}
  - mods = props.mods ? props.mods.map(mod => `section--${mod}`).join(' ') : null;
  - tag = props.tag || "h2"
  section.section(class=mods)&attributes(props.attributes)
    .page-container
      if props.hiddenTitle
        #{tag}.visually-hidden=props.hiddenTitle
      if props.title || props.subtitle
        .section__head
          if props.title
            #{tag}.section__title.animation.animation--fade-in-left !{props.title}
          if props.subtitle
            .section__subtitle.animation.animation--fade-in !{props.subtitle}
      if block
        .section__content.animation.animation--fade-in
          block
      if props.footerText || props.button || props.onboardingForm
        .section__footer.animation.animation--fade-in
          if props.footerText
            .section__footer-text !{props.footerText}
          if props.button
            +button(props.button)&attributes({
              ...props.button.attributes,
              class: "section__button"
            })=props.button.text
          else if props.onboardingForm
            +onboarding-form(props.onboardingForm)
