mixin achievements-card(props)
  - props = props || {}
  - mods = props.mods ? props.mods.map(mod => `achievements-card--${mod}`).join(" ") : null;
  .achievements-card(class=mods)&attributes(attributes)
    if props.place
      .achievements-card__place
        .achievements-card__place-value=props.place
        .achievements-card__place-label Место
    if props.title
      .achievements-card__title !{props.title}
    if props.logo
      .achievements-card__logo
        img(src=props.logo alt="Лого" loading="lazy")
